<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Résultats des Analyses</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Résultats de l'Analyse des Matériaux</h1>
        <!-- Afficher la table des résultats -->
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}

        <!-- Afficher les graphiques -->
        <h2 class="mt-5">Graphiques des Matériaux</h2>
        <div class="row">
            <div class="col-md-4">
                <h3>Carbone</h3>
                <img src="{{ url_for('static', filename='images/carbone.png') }}" class="img-fluid">
            </div>
            <div class="col-md-4">
                <h3>Kevlar</h3>
                <img src="{{ url_for('static', filename='images/kevlar.png') }}" class="img-fluid">
            </div>
            <div class="col-md-4">
                <h3>Kevlar CV2</h3>
                <img src="{{ url_for('static', filename='images/kevlar_cv2.png') }}" class="img-fluid">
            </div>
        </div>
    </div>
</body>
</html>
